* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  color:hsl(238, 29%, 16%);
  display: grid;
}

.main.main__container {
  border-radius: 1.5rem;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: 0 11px 17px 0 hsl(238, 29%, 36%);
  margin: auto;
  height: 50vh;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main.dropdown-item {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  width: 25%;
  color: hsl(240, 5%, 91%);
}

.dropdown-item {
  display: flex;
  text-align: left;
  color: hsl(238, 29%, 16%);
  padding: .5em;
}