* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  color:hsl(238, 29%, 16%);
  display: grid;
}

.text {
  margin: 0;
}

.header {
  margin-bottom: 1.5rem;
  width: 50%;
  display: flex;
  align-self: flex-end;
}

.main.main__container {
  border-radius: 1.5rem;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: 0 11px 17px 0 hsl(238, 29%, 36%);
  margin: auto 10vw;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  padding-right: 5.5em;
  height: auto;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



div.main.dropdown-item {
  width: 50%;
  display: flex;
  align-self: flex-end;
  position: relative;
}

.main.dropdown-item {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  color: hsl(240, 5%, 91%);
  position: relative;
}

.dropdown-item {
  display: flex;
  color: hsl(238, 29%, 16%);
  padding: .5em 0;
  display: inline-block;

}

.arrow-icon {
  background-image: url(./images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  display: flex;
  top: 50%;
  right: 0%;
}

.arrow-icon:hover {
  cursor: pointer;
  display: block;
  opacity: 50%;
}

.p__question {
  padding-right: 10px;
}

.p__answer {
  display: none;
  padding-top: 1em;
  padding-right: 1.3em;
}